<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Register</title>
</head>
<body class="bg-dark">
    <nav id="navbar" class="text-white text-center"  style="font-family: 'Jomolhari', serif;">
        <a href="/" style="
        text-decoration: none;
        color: white;
        font-size: 1.2rem;"
        >HOME</a> 
        |
        <a href="/register" style="
        text-decoration: none;
        color: white;
        font-size: 1.2rem;"
        >REGISTER</a>
        |
        <a href="/login" style="
        text-decoration: none;
        color: white;
        font-size: 1.2rem;">
        LOGIN</a>
    </nav>
        <div class="user-detail container-fluid">
            <h2>PLEASE REGISTER YOURSELF</h2>
            <form method="POST" preventDefault()>
                <label class="text-white">First Name: </label>
                <input type="text" placeholder="Enter Your First Name" name="firstName" required> <br>
                <label class="text-white">Last Name: </label>
                <input type="text" placeholder="Enter Your Last Name" name="lastName" required> <br>
                <label class="text-white">Email Address: </label>
                <input type="email" placeholder="Enter Your Email Address" name="email" required> <br>
                <label class="text-white">Password: </label>
                <input type="password" placeholder="Enter Your Password" name="password" required> <br>
                <label class="text-white">Phone Number</label>
                <input type="phone number" placeholder="Enter Your Phone Number" name="phone" required> <br>
                <label class="text-white">Province</label>
                <input type="text" placeholder="Enter Your Province" name="province" required> <br>
                <label class="text-white">Country</label>
                <input type="text" placeholder="Enter Your Country" name="country" required> <br>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>